p{
    margin-top: 0;
    margin-bottom: 0;
    font-family:Arial;}
.reeCodeCamp{
    font-size: 20px;
}   .a{
color: gray;
    }
    .developer{
line-height: 22px;
width: 500px;
margin-bottom: 15px;
margin-top: 10px;
    }
    .b{
color: rgb(0, 191, 255);
    }